six
dill
from-root
notebook
boto3
mypy-boto3-s3
mypy-boto3-sts
mypy-boto3-iam
mypy-boto3-sns
flask-cors
flask
matplotlib
numpy
opencv-python
pandas
scikit-learn
scipy
Pillow
PyYAML
requests
scikit-image
torch
torchvision
tqdm
protobuf
tensorboard
clearml
comet
seaborn
coremltools
onnx
nvidia-pyindex
nvidia-tensorrt
tensorflow
tensorflowjs
openvino-dev
tritonclient
roboflow
pycocotools
albumentations
thop
psutil
ipython

-e .
